
:root{
  --base_color:#333;
  --base_font_size:12px;
}
/* 기본 서식 */
*{margin:0; padding:0;}
ol,ul,li{list-style:none;}
body{
  font-family:'맑은 고딕', Arial, sans-serif;
  font-size:var(--base_font_size);
  color:var(--base_color);
}
a{text-decoration:none;color:var(--base_color);}