/* 공통 서식 */
.header {
  line-height: 60px;
  text-align: center;
  background:rgba(255,255,255,.9);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header h1 img {
  width: 200px;
}

main {
  padding: 30px 10px;
}

footer {
  clear: both;
  background: var(--base_color);
  color: #fff;
  text-align: center;
  line-height: 40px;
}

footer>address {
  font-style: normal;
}

/* productInput 서식 */
.input_item {
  width: 400px;
  margin: 0 auto;
}

.input_item>p:not(:last-child) {
  margin: 0 auto;
  margin-bottom: 10px;
}

.input_item>p:last-child {
  border: none;
  text-align: center;
}

.input_item>p>label {
  width: 100px;
  padding-bottom: 10px;
  display: block;
  font-weight: bold;
  font-size: 14px;
}

.input_item>p:not(:last-child)>input {
  border: none;
  padding: 10px 0px;
  text-indent: 10px;
  width: 400px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.submit_btn {
  background-color: #333;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 5px 30px;
  margin: 30px 0px;
}

/* product 서식 */
.product_list {
  width: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
}

.product_list li {
  text-align: center;
  line-height: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border:1px solid #ddd;
}

.product_list>li>img {
  width: 100%;
}

.product_list .p_name {
  font-weight: bold;
  font-size: 14px;
}

.product_list .p_price {
  padding: 5px 0px;
  color: rgb(0, 0, 0);
}

.product_list .btn {
  margin-bottom: 10px;
  border: none;
  background: #333;
  color: #fff;
  padding: 8px 20px;
}

/* top버튼 서식 */
.top_btn {
  padding: 30px 25px;
  border-radius: 50%;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 1000;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.3s;
}

.top_btn.show {
  opacity: 1;
  transform: translateY(0);
}